<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Genre Menu</title>
    <meta name="description" content="Movie Site">
    <meta name="author" content="SitePoint">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
</head>

<body>
    <container id="home-container">
        <a class="menu-item home-div" id="genre-item" href="/genres">
            <h1>Genres</h1>
        </a>
        <a class="menu-item home-div" id="allfilms-item" href="/films">
            <h1>All Films</h1>
        </a>
        <br>
        <a class="randomise-div" id="randomise-link" href="/randomise" style="min-height:100px">
            <img id="random" class="normal" width="20%" style="align-self: center; max-width: 20%"
                src="/images/random.svg" />
        </a>
            <div class="watched-toggle">
        <label class="switch">
            <input type="checkbox" onclick="myFunction()">
            <span class="slider round"></span>
        </label>
        <div id="watched-toggle-label">unwatched</div>
    </div>
    </container>
    <script src="js/scripts.js"></script>
    <script>
        function myFunction() {
            var elements = document.getElementsByClassName('menu-item');
            elements[0].classList.toggle("dark-mode");
            elements[1].classList.toggle("dark-mode");
            var randomImage = document.getElementById('random');
            if (randomImage.classList.contains("normal")) {
                document.getElementById("watched-toggle-label").innerHTML = "watched";
                document.getElementById("genre-item").setAttribute("href", "/watched/genres");
                document.getElementById("allfilms-item").setAttribute("href", "/watched/films");
                document.getElementById("randomise-link").setAttribute("href", "/watched/randomise");
                randomImage.classList.remove("normal");
                randomImage.src = "/images/random-white.svg";
            } else {
                document.getElementById("watched-toggle-label").innerHTML = "unwatched";
                document.getElementById("genre-item").setAttribute("href", "/genres");
                document.getElementById("allfilms-item").setAttribute("href", "/films");
                document.getElementById("randomise-link").setAttribute("href", "/randomise");
                randomImage.classList.add("normal");
                randomImage.src = "/images/random.svg";
            }
        }
    </script>
</body>

</html>