<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Trailer</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <style>

    </style>
</head>
<container>
    <div class="movie-div">
        <iframe width='672' height='378' src='https://www.youtube.com/embed/{{data.trailer}}' frameborder='0'
            allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe>
    </div>
</container>
<script src="js/scripts.js"></script>
</body>

</html>